:root {
    --primary-color: rgb(255 68 0 / 78%);
    --white: #ffffff;
}

html,
body {
    margin: 0;
    padding: 0;
    line-height: 1.4rem;
}


.navbar {
    background: linear-gradient(180deg, rgba(0, 2, 3, 1) 14%, rgba(0, 1, 1, 0.6244560917721519) 58%, rgba(0, 0, 0, 0.05800039556962022) 93%);
}

.bg-fix {
    background-position: center !important;
    background-size: cover !important;
}

.bg-banner {
    background-image: url(./images/bg-banner.png);
    background-repeat: no-repeat;
}

#navbarNav .nav-link {
    color: var(--white);
    font-weight: 500;
    font-size: .9rem;

}

.navbar-brand img {
    width: 50px;
}

.bannertext h1 {
    font-weight: 700;
    font-size: 2.7rem;
}

.bannertext {
    color: var(--white);
}

.bannertext button {
    font-size: .8rem;
    font-weight: 600;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.our-chef {
    color: var(--primary-color);
    background: top 9rem left 10% / 3rem no-repeat url(./images/ulli.png),
        top 9rem right 10% / 5rem no-repeat url(./images/burger.png),
        center/cover url(./images/bg2.png) no-repeat;

}

.our-chef h2 {
    font-weight: 500;
    font-size: 2.2rem;
}

.our-chef p {
    font-weight: 300;
    font-size: 0.9rem;
}

.layer {

    z-index: 1;
}

#infoi {
    position: absolute;

    top: 20px;
    left: 30px;

}

#info2 {
    position: absolute;
    top: 20px;
    right: 300px;

}

.our-chef {
    z-index: 100;
}
.thumbnial-part {
    width: 11.5rem;
}
.cheff-name {
    font-size: 1.2rem;
    font-weight: 600;
}
.statitics {
    background-color: var(--primary-color);
}
.ranking {
    padding-top: 5rem;
    padding-bottom: 6rem;
    color: var(--white);
}
.circular {
    border: 4px solid var(--white);
    width: 15.2rem;
    border-radius: 50%;
    -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     height: 15.2rem;
     margin: auto;
     
}
.ranking .col-md-4 {
   
}
.ranking h2 {
    font-size: 3.2rem;;
}
.ranking h5 {
    font-size: 1.1rem;
}

